form {
  display: flex;
  flex-direction: column;
}

.register-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.register-container {
  width: 275px;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.login-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
