<div class="register-main-container">
  <div class="register-container">
    <div>
      <h1>Register user</h1>
      <p>Already have an account? <button routerLink="/login">Login</button></p>
    </div>

    <form [formGroup]="registerForm" (submit)="createUser()">
      <p class="form-error-message" *ngIf="registerForm.errors?.['firebaseError']">{{registerForm.errors?.['firebaseError']}}</p>

      <div class="form-item">
        <label for="email">E-mail</label>
        <input id="email" type="email" name="email" placeholder="E-mail" formControlName="email" />
        <p class="form-error-message" *ngIf="validateEmail()">{{validateEmail()}}</p>
      </div>

      <div class="form-item">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Password" formControlName="password" />
        <p class="form-error-message" *ngIf="validatePassword()">{{validatePassword()}}</p>
      </div>

      <button type="submit">Register</button>
    </form>
  </div>
</div>
