<div class="login-main-container">
  <div class="login-container">
    <div>
      <h1>Login user</h1>
      <p>No account yet? <button routerLink="/register" routerLinkActive="active">Register</button></p>
    </div>

    <form (submit)="loginUser()">
      <div class="form-item">
        <label for="email">E-mail</label>
        <input id="email" type="email" name="email" placeholder="E-mail" [(ngModel)]="email" />
      </div>

      <div class="form-item">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Password" [(ngModel)]="password" />
      </div>

      <button type="submit">Login</button>
    </form>
  </div>
</div>
