li {
    display: flex;
    align-items: center;
    word-wrap: break-word;
    margin-bottom: 20px;
    height: 100px;
}

.transaction-information p {
    min-width: 100px;
    margin: 5px 0 5px 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    width: 75px;
    margin-left: 15px;
}

.buttons button {
    width: 100%;
}
