<div>
    <h2>{{title}}</h2>
    <p *ngIf="transactions.length <= 0">No transactions found!</p>
    <div *ngIf="transactions.length > 0">
        <ul>
            <li *ngFor="let transaction of transactions">
                <p>{{transaction.description}}</p>
                <p>{{transaction.date.toDate() | date:'dd/MMMM/yyyy'}}</p>
                <p>€ {{transaction.price}}</p>
                <p>{{getCategoryName(transaction.categoryId)}}</p>

                <app-huishoudboekjes-transactions-edit [transactionId]="transaction.id" [transactionType]="transactionType"></app-huishoudboekjes-transactions-edit>
            </li>
        </ul>
    </div>
</div>
