<button (click)="onEdit()">Edit huishoudboekje</button>

<dialog [id]="'edit-book-dialog-' + bookId">
    <h1>Edit huishoudboekje</h1>

  <form [formGroup]="editBookForm">
    <p class="form-error-message" *ngIf="validateTitle()">{{validateTitle()}}</p>

    <table>
      <tr>
        <td>Title</td>
        <td>
          <input id="title" type="text" name="title" placeholder="Title" formControlName="title" />
        </td>
      </tr>
      <tr>
        <td>Description</td>
        <td>
          <input id="description" type="text" name="description" placeholder="Description" formControlName="description" />
        </td>
      </tr>
    </table>

    <div>
      <button style="float: left;" (click)="onCancel()">Cancel</button>
      <button style="float: right;" (click)="onSave()">Save</button>
    </div>
  </form>
</dialog>
