<div *ngIf="book">

    <h2>
        <label>Title: </label>
        {{book.title}}
    </h2>
    <h3 *ngIf="book.description">
        <label>Description: </label>
        {{book.description}}
    </h3>

    <div class="detail-top-container">
        <div class="tools">
            <div class="datepicker">
                <label for="date">Datum: </label>
                <input id="date" name="date" type="month" [(ngModel)]="date" (ngModelChange)="getTransactionsByDate(book.id)" />
            </div>

            <div class="create-transaction-buttons">
                <button (click)="onCreateDialog(transactionTypeEnum.INCOME)">Add {{transactionTypeEnum.INCOME}}</button>
                <button (click)="onCreateDialog(transactionTypeEnum.EXPENSES)">Add {{transactionTypeEnum.EXPENSES}}</button>
            </div>
        </div>

        <div class="statistics">
            <app-huishoudboekjes-detail-statistics [transactionsBehaviour]="transactions$"></app-huishoudboekjes-detail-statistics>
        </div>
    </div>

    <div class="transactions-container">
        <app-huishoudboekjes-detail-transactions [transactions]="income" [title]="transactionTypeEnum.INCOME" [transactionType]="transactionTypeEnum.INCOME"></app-huishoudboekjes-detail-transactions>
        <app-huishoudboekjes-detail-transactions [transactions]="expenses" [title]="transactionTypeEnum.EXPENSES" [transactionType]="transactionTypeEnum.EXPENSES"></app-huishoudboekjes-detail-transactions>
    </div>
</div>

<!-- Dialogs -->
<app-huishoudboekjes-transactions-create [bookId]="book?.id" [transactionType]="transactionTypeEnum.INCOME"></app-huishoudboekjes-transactions-create>
<app-huishoudboekjes-transactions-create [bookId]="book?.id" [transactionType]="transactionTypeEnum.EXPENSES"></app-huishoudboekjes-transactions-create>
