<button (click)="openEditDialog()">Edit</button>

<dialog [id]="'edit-category-dialog-' + category.id">
    <h1>Edit Category</h1>

    <form [formGroup]="editCategoryForm">
        <p class="form-error-message" *ngIf="validateForm()">{{validateForm()}}</p>

        <table>
            <tr>
                <td>Name</td>
                <td>
                    <input id="name" type="text" name="name" placeholder="Name" formControlName="name" />
                </td>
            </tr>
            <tr>
                <td>Budget</td>
                <td>
                    <input id="budget" type="number" name="budget" placeholder="Budget" formControlName="budget" />
                </td>
            </tr>
            <tr>
                <td>Closing date (Optional)</td>
                <td>
                    <input id="date" type="date" name="date" placeholder="Closing Date" formControlName="date" />
                </td>
            </tr>
        </table>

        <div>
            <button style="float: left;" (click)="onCancel()">Cancel</button>
            <button style="float: right;" (click)="onSave()">Save</button>
        </div>
    </form>
</dialog>
