<div *ngIf="category">
    <div class="categories-container">
        <div class="category-card">
            <div class="category-header">
                <h5 [ngStyle]="{'visibility': isOverBudget() ? 'visible' : 'hidden'}" class="over-budget">OVER BUDGET</h5>
                <h2 class="category-name">Name: {{category.name}}</h2>
                <div class="category-dates" [ngStyle]="{'visibility': category.endDate ? 'visible' : 'hidden'}">
                    <p class="end-date" [ngStyle]="{'color': isOverDue() ? 'red' : 'black'}">End Date: {{category.endDate | date:'dd/MM/yyyy'}}</p>
                </div>
            </div>
            <div class="category-budget">
                <p class="budget-amount">Budget: € {{category.budget | number: '1.2-2'}}</p>
                <p class="current-balance">Balance: € {{balance | number: '1.2-2'}}</p>
            </div>
            <div class="progress-container">
                <div class="progress-bar" [ngStyle]="{'width': progress + '%', 'background-color': getProgressBarColor()}">
                    <span class="progress-percentage">{{progress.toFixed(2)}}%</span>
                </div>
            </div>
            <div class="category-actions">
                <app-huishoudboekjes-categories-edit [category]="category"></app-huishoudboekjes-categories-edit>
                <button (click)="deleteCategory(category.id)">Delete</button>
            </div>
        </div>
    </div>
</div>
