<app-huishoudboekjes-create></app-huishoudboekjes-create>

<div class="books">
    <div>
        <h1><label *ngIf="isArchived">Archived </label>Huishoudboekjes</h1>
        <ul>
            <p *ngIf="!books || books.length === 0">No huishoudboekjes found!</p>
            <li *ngFor="let book of books">
                <div class="book-information">
                    <p id="title">
                        <label for="title">Title: </label>
                        {{book.title}}
                    </p>
                    <p id="description">
                        <label for="description">Description: </label>
                        {{book.description}}
                    </p>
                    <p id="userEmail">
                        <label for="userEmail">User: </label>
                        {{book.userEmail}}
                    </p>
                </div>


                <button id="dearchive-button" *ngIf="isArchived else activeBooks" (click)="dearchiveBook(book)">Dearchive</button>

                <ng-template #activeBooks>
                    <div class="buttons-container">
                        <button routerLink="../book/{{book.id}}" routerLinkActive="active">Open</button>

                        <div class="authorized-buttons" *ngIf="userIsAuthor(book.userEmail)">
                            <app-huishoudboekjes-edit [bookId]="book.id"></app-huishoudboekjes-edit>
                            <button id="archive-button" (click)="archiveBook(book)">Archive</button>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>
    </div>
</div>
