.books {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 20px;
}

.books div {
    width: 40%;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 100px;
}

a:hover {
    color: red;
}

.book-information {
    width: 400px;
}

.book-information p {
    margin: 5px 0 5px 0;
}

.book-information p, .book-information a{
    word-wrap: break-word;
}

.buttons-container,
.authorized-buttons {
    display: flex;
}

.buttons-container button,
.authorized-buttons button {
    height: 3em;
}

#archive-button {
    background-color: #ff0000;
}

#archive-button:hover {
    background-color: #ff4d4d;
}

#dearchive-button {
    background-color: #5ebd5e;
}

#dearchive-button:hover {
    background-color: #6edc6e;
}
